/* BookCard.css */

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7; /* Light gray background color */
    text-align: center;
    transition: transform 0.2s ease-in-out; /* Faster hover effect */
    position: relative;
    padding-bottom: 20px;
    margin: 10px;
  }
  
  .book-card:hover {
    transform: scale(1.05);
  }
  
 