.footer {
   background-color: grey;
  padding-bottom: 35px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
   
  }
  .footer .container{
    padding-top: 30px;
  }
  .footer .Follow {
   margin-bottom: 27px;
  }
  
  
  .footer .Follow h3 {
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
  border-bottom: #fff solid 1px;
   border-bottom-width: 1px;
  border-width: 1px;
  display: inline-block;
  padding-bottom: 2px;}
  .coa {
   color: #12dc12;
  }
  
  
  .footer .Newsletter  {
  
   padding: 13px 26px;
       padding-top: 10px;
       padding-right: 26px;
       padding-bottom: 10px;
       padding-left: 26px;
   border: #fff solid 1px;
   width: 77%;
  
  
  }
  
  .footer .Subscribe {
    align-items: center !important;
    text-align: center;
    flex-direction: column;
 margin-left: 10px;
 width: 20vh;
  padding: 8px 20px ;
  border-radius: 10px;
  border: #0e0c0c solid 1px;
  background: #0e0c0c;
  color: #fff;
  
  }
  

  .copyright {
    background-color: #fff;
    padding: 10px 0px;
  }
  .copyright p {
    color: #120f0f;
    font-size: 16px;
    text-align: center;
  }
  .copyright a {
   color: #120f0f;
  }
  .copyright a:hover {
   color: #81256c;
  }
  /*--------------------------------------------------------------------- inner_page css ---------------------------------------------------------------------*/
  .about_page .about {
   margin-bottom: 90px;
  }
  .about-bg {
   background-color: #b32137;
  
  
  
  margin-top: 90px;
  }
  

  @media screen and (max-width: 1500px) {
    .footer .Subscribe {
      margin-top: 10px;
      margin-left: 0px ;
      display: flex;
     
      width: 20vh;
      padding: 8px 40px ;
      border-radius: 10px;
      border: #0e0c0c solid 1px;
      background: #0e0c0c;
      color: #fff;
      
      }
 
      
  }
  
