/* LibraryPage.css */
.library-top {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  margin-left: 20px;
  justify-content: space-evenly;
}
.book-card-link{
  text-decoration: none !important;
}

.Library-page-wrapper{

  min-height: 100vh;
}

.selecter-item {
  background-color: #ffff; /* Light gray background */
  border-radius: 5px;
  color: #000 !important;
  width: 100%;
  text-align: start;
  padding-right: 10px !important;
}

.category-dropdown {
  min-width: 60px;
  height: 100%;
  background-color: #ffff; /* Light gray background */
  border-radius: 5px;
  padding: 5px;
  color: #000;
}


.search-bar {
  border-radius: 5px;
  height: 100%;
  background-color: #ffffff; 
  color: #000000;
  
}


.what-btn{
  background:none;
  border: none;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

.grid-item {
  /* ... (other styles) ... */
   padding-bottom: 40px;
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.grid-item:hover {
  transform: scale(1.05) !important; /* Increase the size by 10% on hover */
  transition: transform 0.3s ease !important; /* Add a smooth transition effect */
}

