
.wrapper-reg {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    background-color: whitesmoke;
  }
  
                .container-reg {
    margin-top:80px;
    margin-bottom: 100px;
    height: 900px;
    width: 80%;
    display: flex;
    border-radius: 25px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .picture{
    margin-top: 0;
    margin-bottom:0;
    flex:40%;
    border-radius: 25px 0 0 25px;
    margin-left: 0px;
  }

  .form{
    flex:60%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0 25px 25px 0;
  }
  img{
    width: 100%;
    height: 100%;
    border-radius: 25px 0 0 25px;
  }
  .top-header{
    margin-top: 30px;
    margin-left: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
.form-control {
  height: 1000px;
  width: 300px;
  line-height: 30px;
}

#exampleInputEmail1 {
  height: 50px;
  margin-top: 0px;
}

.mb-3 {
  margin-top: 30px;
  margin-left: 50px;
}

.form-label {
  font-weight: 600;
}

.name-container {
  display: flex;
}

.first-name {
  margin-left: 50px;
}

.email-form {
  width: 400px;
}

.email-Container {
  display: flex;
}

#exampleInputPassword1 {
  height: 50px;
  margin-top: 0px;
}

.password-container {
  display: flex;
}

#check-box {
  margin-top: 3px;
}

.pss {
  margin-top: 30px;
}

#pass-p #pass-c {
  margin-top: 30px;
}

#register-btn {
  height: 46px;
  margin-left: 50px;
  margin-right: 109px;
  border-radius: 23px;
  width: 650px;
}

#login-btn {
  height: 46px;
  margin-left: 50px;
  margin-right: 109px;
  border-radius: 23px;
  width: 650px;
}

.d-grid {
  margin-top: 50px;
}

.btn {
  margin-bottom: 10px;
}