.h-wrapper{
    background-color: var(--black);
    color: white;
}

.h-container{
    justify-content: space-between;
    color: var(--secondary)
}
#h-container{
    justify-content: space-between;
    color: var(--secondary)
}
.h-menu{
    gap:2rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: Top;
    
}
.navbar-elements{
    color: white;
}

.h-menu>*:hover{
    cursor: pointer;
    color:#4066ff;
}
.img{
    text-align: center;
    display: inline-block

}
.i-wrapper{
    justify-content: center;
    align-items: center;
}

.menu-icon{
    display: none;
}


.selecter{
    color: white !important;
    background-color: none;
    
}
.menuitem{
    color:aqua
}
.link{
    color: #4066ff;
  
    text-decoration: none !important;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 300ms ease-in-out;
}

@media(max-width:768px){
    .menu-icon{
        cursor: pointer;
        display: block;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        }
        
        .menu-icon:hover {
            scale: 1.1;
    }
    .h-menu{
        color: black;
        position: absolute;
        top: 5rem;
        right: 4rem;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow:0px 4px 4px rgba(0, 0, 0, 0.05);
        transition: all 300ms ease-in;
        z-index: 111;
    }

    .selecter{
        display: none !important;
        
    .navbar-elements{
        color: black;

    }
    
}}

