
.wrapper{
    width: 100% !important;
}
.g-wrapper{
    width: 100% !important;
}
.inner-Container{
    background:#4161df;
    padding:2rem;
    border-radius: 1px !important;
    border:6px solid#5f77d6;
}
.inner-Container>.primaryText{
    color:white;
    font-weight: 600;
    ;
}
.inner-Container>.secondaryText{
    color: rgba(255, 255, 255, 0.587);
}

.inner-Container>.button{
    background:#5a73d7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 1px !important;
    margin-top: 10px;
}
.paddings.innerWidth.g-container{
    padding-bottom: 10px;
}
#gt-start{
    text-decoration: none;
}