
.paddings.innerWidth.flexCenter.reg-container{
    justify-content: space-between;
    align-items: flex-start;
}
.register-wrapper {
    margin-bottom: 30px;

}

#re-con {
    width: 30rem;
    height: 40rem;
    background: white;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.809);
    gap: 20px;
    width: 90%;
    height: 100%;
    color:black
}

#reg-img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    size: cover;
}

#reg-img:hover {
    pointer-events: none;
}

#passD{
  color: red;
}

.left{
    align-items: center;
}
.name{

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .reg-log-button{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .reg-button{
    margin-top: 1rem ;
  
  
  }
  .log-button{
    margin-top: 1rem;
  }
  
  .btn.btn-outline-primary {
    max-width: 150px !important;
    min-width: 150px !important;
    height: 45px;
    font-weight: 500;
}
.btn.btn-primary{
    width: 200px !important;
    height: 45px;
    transition: 300ms;
    border: none;

    background: grey;
    box-shadow: 0px 5px 5px #d9d2d2be;
  }
  
  .btn.btn-primary:hover {
    transform: none; 
    background: rgb(0, 0, 0);
  }




.up {
    width: 100px;
    height: 100px;
}

.up>img {
    width: 100%;
    height: 150%;
    /* margin-top: -30px; */

}
.form-control{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:black

    /* box-shadow: 5px 5px 5px rgb(209, 209, 209); */
  }
  
  .register-wrapper {
    margin-top: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .image-container-signup{
    width: 100%;
    height: 100%;
    background: transparent !important;
    border-radius: 0;
  }
  .image-signup{
    position: fixed;
    z-index: -3;
    left:0;
    top:0;
    width: 90%;
  }

  @media screen and (max-width: 768px) {
    .paddings.innerWidth.flexCenter.reg-container {
      width: 90%; 
    }
    .image-container-signup{
      height: 70%;
    }

    #reg img{
      height: 90%;
    }
  
    .name {
      gap: 20px; 
    }
  
    .btn.btn-primary,
    .btn.btn-outline-primary {
      width: 100%; 
    }

  }
  